<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bandMemberLogin</title>
</head>
<style>
    #loginFormDiv {
        text-align: center;
        border: solid 1px red;
        /*display: flex;*/
        justify-content: center;
        width: 400px;
        padding-top: 10px;
        margin : auto;
        /*style="text-align: center; border : solid; width : 400px;*/
    }
</style>
<body>
    <h2>bandMemberLogin.html</h2>

        <form action="/bandMemberPages/bandMemberLogin" method="post">
            <div id="loginFormDiv" >
            이메일: <input type="text" name="memberEmail" id="memberEmail"><br>
            비밀번호:<input type="text" name="memberPassword" id="memberPassword"><br>
            <input type="submit" value="로그인">
            </div>
        </form>

</body>
</html>