<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
<style>
    #saveFormDiv {
        text-align: center;
        border: solid 1px red;
        /*display: flex;*/
        justify-content: center;
        width: 400px;
        padding-top: 10px;
        margin : auto;

    }
</style>

    <h2 style ="text-align: center;">saveForm.html</h2>
        <form action="/bandMemberPages/saveForm" method="post">
            <div id="saveFormDiv">
                이메일: <input type="text" name="memberEmail" id="memberEmail"><br>
                비밀번호: <input type="text" name="memberPassword" id="memberPassword"><br>
                이름: <input type="text" name="memberName" id="memberName"><br>
                <input type="submit" value="가입">
            </div>
        </form>
</th:block>
</html>