<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saveForm</title>
</head>
<style>
    #saveFormDiv {
        text-align: center; border: solid 1px red; width: 500px;
        display: flex; justify-content: center;
    }
</style>
<body>
    <h2 style ="text-align: center;">saveForm.html</h2>
        <form action="/bandMemberPages/saveForm" method="post">
            <div id="saveFormDiv">
                이메일: <input type="text" name="memberEmail" id="memberEmail">
                비밀번호:<input type="text" name="memberPassword" id="memberPassword">
                이름:<input type="text" name="memberName" id="memberName"><br>
                <input type="submit" value="가입">
            </div>
        </form>
</body>
</html>