<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/component/header :: header"></th:block>

<style>
    #indexMain {
        border: 1px solid red;
        text-align: center;
        padding: 30px;
        margin : auto;
        width: 200px;
        /*display: flex;*/
        justify-content: center;
        /*vertical-align: center;*/
    }
</style>

</html>

<body>
<th:block layout:fragment="nav"></th:block>

<h2 style ="text-align: center">index.html</h2>
<div id="indexMain">
    <a href = "/bandMemberPages/saveForm">회원가입 </a><br><br>
    <a href = "/bandMemberPages/memberLogin">로그인</a><br><br>
    <a href = "/bandMemberPages/memberList">회원목록</a><br>

    <!--    <a href="https://www.naver.com">네이버</a><br>-->
    <!--    <a href="https://www.google.com">구글</a>-->
</div>
</body>


<th:block th:replace="/layout/fragments/footer :: footerLayout"></th:block>
</html>