<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #indexMain {
        border: 1px solid red;
        text-align: center;
        padding: 30px;
        margin : auto;
        width: 200px;
        display: flex;
        justify-content: center;
        vertical-align: center;
    }
</style>
<body>
    <h2 style ="text-align: center">index.html</h2>
    <div id="indexMain">
        <a href = "/bandMemberPages/saveForm">회원가입 </a><br>&nbsp;&nbsp;<br>
        <a href = "/bandMemberPages/memberLogin">로그인</a>
        <a href = "/bandMemberPages/memberList">회원목록</a>

<!--    <a href="https://www.naver.com">네이버</a><br>-->
<!--    <a href="https://www.google.com">구글</a>-->
    </div>
</body>
</html>